:root {
  /* Daisy UI */
  --base-100: #ffffff;
  --base-200: #f7f8f9;
  --base-300: #f1f2f3;
  --base-content: #101824;
  --primary: #1c2732;
  --primary-content: #ffffff;
  --secondary: #00d3bb;
  --secondary-content: #002d2b;
  --accent: #fdc76c;
  --accent-content: #002c23;
  --neutral: #e2e5e7;
  --neutral-content: #101824;
  --info: #dae9f7;
  --info-content: #193a9f;
  --success: #d0fae8;
  --success-content: #006049;
  --warning: #feecdc;
  --warning-content: #9f2d30;
  --error: #fde0e2;
  --error-content: #9d042e;

  /* TailwindCSS 4.0 */
  --red-50: #fef2f3;
  --red-100: #ffe2e4;
  --red-200: #ffc9ce;
  --red-300: #ffa2ab;
  --red-400: #ff647a;
  --red-500: #fb2c58;
  --red-600: #e70042;
  --red-700: #c10036;
  --red-800: #9f072f;
  --red-900: #82182b;
  --red-950: #460813;
  --orange-50: #fff7f1;
  --orange-100: #ffeddd;
  --orange-200: #ffd6ba;
  --orange-300: #ffb890;
  --orange-400: #ff8963;
  --orange-500: #ff6952;
  --orange-600: #f54946;
  --orange-700: #ca3539;
  --orange-800: #9f2d30;
  --orange-900: #7e2a29;
  --orange-950: #441313;
  --amber-50: #fffbf0;
  --amber-100: #fef3d5;
  --amber-200: #fee6ab;
  --amber-300: #ffd284;
  --amber-400: #ffb96a;
  --amber-500: #fe9a5d;
  --amber-600: #e1714b;
  --amber-700: #bb4d3a;
  --amber-800: #973c2f;
  --amber-900: #7b3329;
  --amber-950: #461913;
  --yellow-50: #fefcee;
  --yellow-100: #fef9d4;
  --yellow-200: #fff0af;
  --yellow-300: #ffdf87;
  --yellow-400: #fdc76c;
  --yellow-500: #f0b163;
  --yellow-600: #d0874e;
  --yellow-700: #a65f3b;
  --yellow-800: #894b30;
  --yellow-900: #733e2b;
  --yellow-950: #432016;
  --lime-50: #f7feee;
  --lime-100: #ecfcd9;
  --lime-200: #d8f9b9;
  --lime-300: #bbf493;
  --lime-400: #9ae674;
  --lime-500: #7ccf63;
  --lime-600: #5ea54d;
  --lime-700: #497d3b;
  --lime-800: #3c6331;
  --lime-900: #35532c;
  --lime-950: #192e15;
  --green-50: #f0fdf6;
  --green-100: #dcfceb;
  --green-200: #b9f8d8;
  --green-300: #7bf1b9;
  --green-400: #05df91;
  --green-500: #00c977;
  --green-600: #00a660;
  --green-700: #00824d;
  --green-800: #016640;
  --green-900: #0d5436;
  --green-950: #032e1c;
  --emerald-50: #ecfdf6;
  --emerald-100: #d0fae8;
  --emerald-200: #a4f4d6;
  --emerald-300: #5ee9be;
  --emerald-400: #00d49f;
  --emerald-500: #00bc8a;
  --emerald-600: #009970;
  --emerald-700: #007a5c;
  --emerald-800: #00604a;
  --emerald-900: #004f3e;
  --emerald-950: #002c23;
  --teal-50: #f0fdfa;
  --teal-100: #cbfbf1;
  --teal-200: #96f7e4;
  --teal-300: #46ecd4;
  --teal-400: #00d5bd;
  --teal-500: #00bba6;
  --teal-600: #009687;
  --teal-700: #00786d;
  --teal-800: #005f58;
  --teal-900: #0b4f49;
  --teal-950: #022f2d;
  --cyan-50: #ecfefe;
  --cyan-100: #cefafa;
  --cyan-200: #a2f4f6;
  --cyan-300: #53eaf2;
  --cyan-400: #00d3e4;
  --cyan-500: #00b8cc;
  --cyan-600: #0092ab;
  --cyan-700: #007589;
  --cyan-800: #005f6f;
  --cyan-900: #104e5d;
  --cyan-950: #05333f;
  --sky-50: #f0f9fd;
  --sky-100: #dff2fa;
  --sky-200: #b8e6f5;
  --sky-300: #74d4f1;
  --sky-400: #00bceb;
  --sky-500: #00a6dd;
  --sky-600: #0084bc;
  --sky-700: #006997;
  --sky-800: #00597c;
  --sky-900: #024a66;
  --sky-950: #052f42;
  --blue-50: #eff6fc;
  --blue-100: #dbeaf8;
  --blue-200: #bedbf4;
  --blue-300: #8ec5f1;
  --blue-400: #51a2eb;
  --blue-500: #2b7fe7;
  --blue-600: #155ddc;
  --blue-700: #1447c8;
  --blue-800: #193ca0;
  --blue-900: #1c397c;
  --blue-950: #16244b;
  --indigo-50: #eef2fb;
  --indigo-100: #e0e7f8;
  --indigo-200: #c6d2f3;
  --indigo-300: #a3b3ef;
  --indigo-400: #7c86e8;
  --indigo-500: #615fe2;
  --indigo-600: #4f39d6;
  --indigo-700: #432dbb;
  --indigo-800: #372a95;
  --indigo-900: #312c74;
  --indigo-950: #1e1a43;
  --violet-50: #f5f3fc;
  --violet-100: #ede9f9;
  --violet-200: #ddd6f5;
  --violet-300: #c4b4f0;
  --violet-400: #a684ea;
  --violet-500: #8e51e7;
  --violet-600: #7f22dd;
  --violet-700: #7008c9;
  --violet-800: #5d0ea7;
  --violet-900: #4d1786;
  --violet-950: #2f0d59;
  --purple-50: #faf5fd;
  --purple-100: #f3e8f9;
  --purple-200: #e9d4f6;
  --purple-300: #dab2f2;
  --purple-400: #c27aec;
  --purple-500: #ad46e7;
  --purple-600: #9810db;
  --purple-700: #8200be;
  --purple-800: #6e119a;
  --purple-900: #591679;
  --purple-950: #3c0358;
  --fuchsia-50: #fdf4fc;
  --fuchsia-100: #fae8fa;
  --fuchsia-200: #f6cff5;
  --fuchsia-300: #f4a8f0;
  --fuchsia-400: #ed6ae9;
  --fuchsia-500: #e12ae0;
  --fuchsia-600: #c800c5;
  --fuchsia-700: #a800a2;
  --fuchsia-800: #8a0184;
  --fuchsia-900: #72136b;
  --fuchsia-950: #4b0046;
  --pink-50: #fdf2f7;
  --pink-100: #fce7f1;
  --pink-200: #fccee4;
  --pink-300: #fda5cf;
  --pink-400: #fb64af;
  --pink-500: #f63395;
  --pink-600: #e60076;
  --pink-700: #c6005e;
  --pink-800: #a3004e;
  --pink-900: #861043;
  --pink-950: #510425;
  --rose-50: #fff1f3;
  --rose-100: #ffe4e7;
  --rose-200: #ffccd5;
  --rose-300: #ffa1b2;
  --rose-400: #ff6388;
  --rose-500: #ff2068;
  --rose-600: #ec0054;
  --rose-700: #c70046;
  --rose-800: #a50040;
  --rose-900: #8b083b;
  --rose-950: #4d021c;
  --slate-50: #f8fafb;
  --slate-100: #f1f5f8;
  --slate-200: #e2e8ee;
  --slate-300: #cad5de;
  --slate-400: #90a1b2;
  --slate-500: #627486;
  --slate-600: #455565;
  --slate-700: #314151;
  --slate-800: #1d2937;
  --slate-900: #0f1726;
  --slate-950: #020614;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f5;
  --gray-200: #e5e7ea;
  --gray-300: #d1d5da;
  --gray-400: #99a1aa;
  --gray-500: #6a727d;
  --gray-600: #4a5560;
  --gray-700: #36414e;
  --gray-800: #1e2934;
  --gray-900: #101824;
  --gray-950: #03070f;
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f4;
  --zinc-200: #e4e4e6;
  --zinc-300: #d4d4d7;
  --zinc-400: #9f9fa6;
  --zinc-500: #717179;
  --zinc-600: #52525a;
  --zinc-700: #3f3f44;
  --zinc-800: #272729;
  --zinc-900: #18181a;
  --zinc-950: #09090b;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #e5e5e5;
  --neutral-300: #d4d4d4;
  --neutral-400: #a1a1a1;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #404040;
  --neutral-800: #262626;
  --neutral-900: #171717;
  --neutral-950: #0a0a0a;
  --stone-50: #fafafa;
  --stone-100: #f5f5f5;
  --stone-200: #e7e5e4;
  --stone-300: #d6d3d2;
  --stone-400: #a6a09d;
  --stone-500: #79716d;
  --stone-600: #57534f;
  --stone-700: #44403d;
  --stone-800: #292524;
  --stone-900: #1c1918;
  --stone-950: #0c0a09;
  --black: #000000;
  --white: #ffffff;
}
